<!-- Modal centrado verticalmente -->
<dialog id="pai_estudiante_modal" class="w-4/6 mx-auto rounded-md bg-gradient-to-b from-blue-950 to-blue-900 z shadow-xl p-6">
    <div class="max-w-6xl h-auto">
        <!-- Encabezado con logos -->
        <div class="flex justify-between items-center mb-6">
            <img src="/static/Imagenes/LOGO LICEO TECNICO ADULTOS.jpg" alt="Logo Liceo Técnico" class="h-20 object-contain"/>
            <img src="/static/Imagenes/Servicio_local.jpg" class="h-20" alt="">
            <img src="/static/Imagenes/Imagen_PIE.jpg" alt="Logo PIE" class="h-20 object-contain"/>
        </div>
        <!-- Header -->
        <h2 class="text-white text-2xl text-center font-bold mb-">PLAN DE APOYO INDIVIDUAL / PAI</h2>
        <h2 class="text-white text-xl text-center font-bold mb-8">ÁREA PSICOPEDAGÓGICA</h2>
        <hr>

        <!-- Modal Content-->
        <div class="flex w-full py-0 px-2 mt-5 justify-center items-center rounded-sm text-center text-gray-500">
            <form action="" method="post" class="space-y-6 w-full">
                {% csrf_token %}

            <!-- Sección 1: Identificación del Estudiante -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">1. IDENTIFICACIÓN DEL ESTUDIANTE</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <tbody class="divide-y divide-gray-200">
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 w-1/4 text-black font-semibold text-sm rounded-sm">Nombre completo</td>
                            <td class="px-2 py-2" colspan="3">
                                <input type="text" name="estudiante_nombre" id="estudiante_nombre" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estudiante.nombres }} {{ estudiante.apellido_paterno }} {{ estudiante.apellido_materno }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Rut</td>
                            <td class="px-2 py-2">
                                <input type="text" name="rut" id="rut" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estudiante.rut }}" readonly/>
                            </td>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Fecha de nacimiento</td>
                            <td class="px-2 py-2">
                                <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estudiante.fecha_nacimiento }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Dirección</td>
                            <td class="px-2 py-2" colspan="3">
                                <input type="text" name="direccion" id="direccion" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estudiante.direccion }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Curso actual</td>
                            <td class="px-2 py-2">
                                <input type="text" name="curso" id="curso" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estudiante.cursos.nombre }}" readonly/>
                            </td>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Edad</td>
                            <td class="px-2 py-2">
                                <input type="text" name="edad" id="edad" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.edad }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Diagnóstico NEE</td>
                            <td class="px-2 py-2">
                                <input type="text" name="nee" id="nee" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estudiante.nee }}" readonly/>
                            </td>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Sexo</td>
                            <td class="px-2 py-2">
                                <input type="text" name="sexo" id="sexo" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.sexo }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Fecha elaboración</td>
                            <td class="px-2 py-2" colspan="3">
                                <input type="text" name="fecha_elaboracion" id="fecha_elaboracion" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.fecha_elaboracion|date:'Y-m-d' }}" readonly/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Sección 2: IDENTIFICACIÓN DEL ESTABLECIMIENTO -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">2. IDENTIFICACIÓN DEL ESTABLECIMIENTO</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <tbody>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 w-1/4 text-black font-semibold text-sm rounded-sm">RBD</td>
                            <td class="px-2 py-2" colspan="3">
                                <input type="text" name="rbd" id="rbd" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.rbd }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 w-1/4 text-black font-semibold text-sm rounded-sm">Nombre del Establecimiento</td>
                            <td class="px-2 py-2" colspan="3">
                                <input type="text" name="nombre_establecimiento" id="nombre_establecimiento" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.nombre_establecimiento }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Región</td>
                            <td class="px-2 py-2 w-1/3" colspan="1">
                                <input type="text" name="region" id="region_pai" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.region.region }}" readonly/>
                            </td>
                            <td class="bg-blue-100 px-2 py-2 text-black font-semibold text-sm rounded-sm">Comuna</td>
                            <td class="px-2 py-2 w-1/3" colspan="1">
                                <input type="text" name="comuna" id="comuna_pai" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.comuna.comuna }}" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-blue-100 px-2 py-2 w-1/4 text-black font-semibold text-sm rounded-sm">Coordinador(a) PIE</td>
                            <td class="px-2 py-2" colspan="3">
                                <input type="text" name="coordinador_pie" id="coordinador_pie" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ pai.coordinador_pie.user.get_full_name }} {{ pai.coordinador_pie.apellido_paterno }} {{ pai.coordinador_pie.apellido_materno }}" readonly/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Sección 3: EQUIPO RESPONSABLE PAI -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">3. EQUIPO RESPONSABLE PAI</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Nombre Profesional</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for miembro in equipo_responsable %}
                        <tr class="text-center">
                            <td class="px-2 py-2 w-2/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ miembro.nombre_profesional }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ miembro.cargo }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Sección 4: DOCENTES INTEGRADORES Y FAMILIA -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">4. DOCENTES INTEGRADORES Y FAMILIA</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Nombre</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Profesión</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for docente in docentes %}
                        <tr class="text-center">
                            <td class="px-2 py-2 w-2/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ docente.nombre }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ docente.profesion }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Sección 4.1: FAMILIA -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">4.1 FAMILIA</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Nombres</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Parentesco</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for familiar in familia %}
                        <tr class="text-start">
                            <td class="px-2 py-2 w-2/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ familiar.nombres }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ familiar.parentesco }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Sección 5: ESTRATEGIAS DIVERSIFICADAS EN EL AULA -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">5. ESTRATEGIAS DIVERSIFICADAS EN EL AULA</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Criterio</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Estrategias</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Método</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estrategia in estrategias_diversificadas %}
                        <tr class="text-start">
                            <td class="px-2 py-2 w-2/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estrategia.criterio }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estrategia.estrategias }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ estrategia.metodo }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Sección 6: ORGANIZACIÓN DE LOS APOYOS ESPECIALIZADOS -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">6. ORGANIZACIÓN DE LOS APOYOS ESPECIALIZADOS</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Descripción</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Contexto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for apoyo in apoyos_especializados %}
                        <tr class="text-start">
                            <td class="px-2 py-2 w-2/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ apoyo.descripcion }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ apoyo.contexto }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Sección 7: HORARIO DE LOS APOYOS ESPECIALIZADOS -->
            <div>
                <h3 class="text-white text-start text-xl font-semibold mb-4">7. HORARIO DE LOS APOYOS ESPECIALIZADOS</h3>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Día</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Horario</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Profesional</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Contexto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in horario_apoyos %}
                        <tr class="text-start">
                            <td class="px-2 py-2 w-1/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ horario.dia }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ horario.horario }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-2/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ horario.profesional }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ horario.contexto }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <!-- Sección 8: FIRMA DEL EQUIPO RESPONSABLE PAI -->
            <div>
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-white text-start text-xl font-semibold">8. FIRMA DEL EQUIPO RESPONSABLE PAI</h3>
                </div>
                <table class="w-full text-start border-collapse bg-white rounded-md overflow-hidden">
                    <thead>
                        <tr>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Nombre</th>
                            <th class="bg-blue-100 px-2 py-2 text-start text-black font-semibold text-sm rounded-sm">Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for firma in firma_equipo %}
                        <tr class="text-start">
                            <td class="px-2 py-2 w-2/5 text-sm">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ firma.nombre }}" readonly/>
                            </td>
                            <td class="px-2 py-2 w-1/6">
                                <input type="text" class="w-full bg-transparent focus:outline-none text-sm rounded-md" value="{{ firma.cargo }}" readonly/>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                

                                <!-- Modal Footer -->
                <div class="modal-footer flex justify-end mt-3 w-full space-x-2">
                     <button type="button" class="bg-gradient-to-b from-blue-400 via-blue-500 to-blue-400 
                     hover:from-blue-600 hover:to-blue-500 text-white font-semibold py-2 px-3 rounded-md" 
                     onclick="document.getElementById('pai_estudiante_modal').close()">CERRAR</button>
                </div>
            </form>
        </div>
        <!-- End of Modal Content-->
    </div>
</dialog>