{% extends 'base.html' %}

{% block title %}Añadir usuario{% endblock %}


{% block content %}
  <body class="bg-gradient-to-r from-amber-900 to-yellow-600">

    {% include 'componentes/navbar.html' %}
    
    <div class="ml-72 px-2 mx-auto">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      <div class="flex flex-col md:flex-row">

        <div class="overflow-hidden md:w-2/3 flex items-center justify-center mt-12">
          <div class="bg-white w-full md:w-4/5 lg:w-3/5 xl:w-2/3 shadow-3xl rounded-xl mx-auto my-auto">
            <div class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/3 rounded-full">
            </div>
            <form action="{% url 'add_user' %}" method="post" class="p-6 md:p-6 bg-gradient-to-r from-sky-900 to-cyan-700">
              <h2 class="text-white text-2xl font-bold mb-4">Registro Nuevo Usuario</h2>
              {% csrf_token %}

                <!-- ---------FILA 1--------- -->

              <div class="flex items-center text-lg mb-4 md:mb-4">
                <div class="w-1/2 mr-2">
                  <label for="username" class="form-label text-white text-sm font-bold italic mb-0">Username</label>
                  <input type="text" name="username" id="username" class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Nombre de Usuario" />
                </div>

                <!-- ---------FILA 2--------- -->

              </div>
              <div class="flex items-center text-lg mb-4 md:mb-4">
                <div class="w-1/2 mr-2">
                  <label for="first_name" class="form-label text-white text-sm font-bold italic mb-0">Nombres</label>
                  <input type="text" name="first_name" id="first_name" class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Nombres" />
                </div>
                <div class="w-1/2 ml-2">
                  <label for="last_name" class="form-label text-white text-sm font-bold italic mb-0">Apellidos</label>
                  <input type="text" name="last_name" id="last_name" class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Apellidos" />
                </div>
              </div>
              <!-- ---------FILA 3--------- -->
              <div class="flex items-center text-lg mb-6 md:mb-6">
                <div class="w-1/2 mr-2">
                  <label for="email" class="form-label text-white text-sm font-bold italic mb-0">Correo</label>
                  <input type="email" name="email" id="email" class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Ejemplo: 7Kqeh@example.com" />
                </div>
                <div class="w-1/2 ml-2">
                  <label for="group" class="form-label text-white text-sm font-bold italic mb-0">Cargo</label>
                  <select name="group" id="group" class="bg-gray-200 rounded pl-2 py-1 md:py-2 text-sm focus:outline-none w-full">
                    <option disabled selected>Seleccione el Cargo</option>

                    <!-- #AQUÍ SE ITERAN LOS CARGOS -->
                    {% for group, singular_groups in groups %}
                    <option value="{{ group.id }}">{{ singular_groups }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              <!-- ---------FILA 5--------- -->
            <div class="flex justify-center">
                <button class="bg-amber-900 hover:bg-amber-600  font-medium p-2 md:p-3 
                text-white uppercase w-full rounded mx-auto mb-6" type="submit"
                >Guardar Nueva Usuario</button>
            </div>

            <div class="flex justify-center">
              <a class="bg-rose-900 hover:bg-rose-600  font-medium p-2 md:p-3 
              text-white uppercase text-center w-full rounded mx-auto" href="{% url 'perfil' %}">
              REGRESAR A PERFILES</a>
            </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
