{% extends 'base.html' %}

{% block content %}
  <body class="bg-gradient-to-r from-amber-900 to-yellow-600">

    <div class="container my-4 px-4">

      
      <div class="flex flex-col md:flex-row">

        <div class="md:w-3/6 mx-2 mt-8 text-white">
          <h5 class="text-2xl font-bold mb-1">Su contraseña...</h5>
          <ul class="list-disc list-inside text-white">
            <li class="text-md">No puede ser similar a otros componentes de su información personal.</li>
            <li class="text-md">Debe contener por lo menos 8 caracteres.</li>
            <li class="text-md">No puede ser una contraseña usada muy comúnmente.</li>
            <li class="text-md">No puede estar formada exclusivamente por números.</li>
          </ul>
          <a class="bg-cyan-900 hover:bg-cyan-600 text-center mt-3
          font-medium p-2 md:p-3 text-white uppercase w-full rounded mx-auto" type="button" href="{% url 'perfil' %}">Regresa a Perfiles</a>
        </div>

        <div class="overflow-hidden md:w-2/3 flex items-center justify-center mt-12">
          <div class="bg-white w-full md:w-4/5 lg:w-3/5 xl:w-2/3 shadow-3xl rounded-xl">
            <div class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/3 rounded-full">
            </div>
            <form action="" method="post" class="p-6 md:p-6 bg-gradient-to-r from-sky-900 to-cyan-700">
              <img class="mx-auto w-16 h-16 rounded-full mb-3" src="{{ user.profile.image.url }}" alt="{{ user.username }}">
              <h2 class=" text-white text-2xl font-bold mb-4">Cambiar Contraseña</h2>
              {% csrf_token %}
              <h2 class=" text-white text-sm font-bold italic mb-0">Ingrese Contraseña Actual</h2>
              <div class="flex items-center text-lg mb-6 md:mb-8">
                  <svg class="absolute ml-3" viewBox="0 0 24 24" width="24">
                    <path d="m18.75 9h-.75v-3c0-3.309-2.691-6-6-6s-6 2.691-6 6v3h-.75c-1.24 0-2.25 1.009-2.25 2.25v10.5c0 1.241 1.01 2.25 2.25 2.25h13.5c1.24 0 2.25-1.009 2.25-2.25v-10.5c0-1.241-1.01-2.25-2.25-2.25zm-10.75-3c0-2.206 1.794-4 4-4s4 1.794 4 4v3h-8zm5 10.722v2.278c0 .552-.447 1-1 1s-1-.448-1-1v-2.278c-.595-.347-1-.985-1-1.722 0-1.103.897-2 2-2s2 .897 2 2c0 .737-.405 1.375-1 1.722z"/>
                  </svg>
                  <input type="password" name="old_password" id="old_password" class="bg-gray-200 rounded pl-10 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Contraseña actual" />
                </div>
                <h2 class=" text-white text-sm font-bold italic mb-0">Ingrese Nueva Contraseña</h2>
              <div class="flex items-center text-lg mb-6 md:mb-8">
                <svg class="absolute ml-3" viewBox="0 0 24 24" width="24">
                  <path d="m18.75 9h-.75v-3c0-3.309-2.691-6-6-6s-6 2.691-6 6v3h-.75c-1.24 0-2.25 1.009-2.25 2.25v10.5c0 1.241 1.01 2.25 2.25 2.25h13.5c1.24 0 2.25-1.009 2.25-2.25v-10.5c0-1.241-1.01-2.25-2.25-2.25zm-10.75-3c0-2.206 1.794-4 4-4s4 1.794 4 4v3h-8zm5 10.722v2.278c0 .552-.447 1-1 1s-1-.448-1-1v-2.278c-.595-.347-1-.985-1-1.722 0-1.103.897-2 2-2s2 .897 2 2c0 .737-.405 1.375-1 1.722z"/>
                </svg>
                <input type="password" name="new_password1" id="new_password1" class="form-control bg-gray-200 rounded pl-10 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Nueva Contraseña" />
              </div>
              <h2 class=" text-white text-sm font-bold italic mb-0">Reingrese Ingrese Nueva Contraseña</h2>
              <div class="flex items-center text-lg mb-6 md:mb-8">
                  <svg class="absolute ml-3" viewBox="0 0 24 24" width="24">
                    <path d="m18.75 9h-.75v-3c0-3.309-2.691-6-6-6s-6 2.691-6 6v3h-.75c-1.24 0-2.25 1.009-2.25 2.25v10.5c0 1.241 1.01 2.25 2.25 2.25h13.5c1.24 0 2.25-1.009 2.25-2.25v-10.5c0-1.241-1.01-2.25-2.25-2.25zm-10.75-3c0-2.206 1.794-4 4-4s4 1.794 4 4v3h-8zm5 10.722v2.278c0 .552-.447 1-1 1s-1-.448-1-1v-2.278c-.595-.347-1-.985-1-1.722 0-1.103.897-2 2-2s2 .897 2 2c0 .737-.405 1.375-1 1.722z"/>
                  </svg>
                  <input type="password" name="new_password2" id="new_password2" class="form-control bg-gray-200 rounded pl-10 py-1 md:py-2 text-sm focus:outline-none w-full" placeholder="Confirme Nueva Contraseña" />
                </div>   
                <button class="bg-amber-900 hover:bg-amber-600  font-medium p-2 md:p-3 text-white uppercase w-full rounded mx-auto" type="submit" {% if password_changed %}disabled{% endif %}>Guardar Nueva Contraseña</button>
                
              </form>
          </div>
        </div>

      </div>

    </div>

  </body>
{% endblock %}
